<div class="mt-5 px-4 sm:px-8 w-full">
  <!-- Descripción -->
  <div class="mb-5">
    <p class="text-sm text-slate-500 mt-1">
      Agrega tu información de contacto para que los clientes se comuniquen con
      vos
    </p>
  </div>

  <div>
    <!-- Loading skeleton -->
    <ng-container *ngIf="isLoading; else formTpl">
      <div class="p-6 sm:p-10 space-y-4 animate-pulse">
        <div class="h-5 w-1/3 bg-slate-200 rounded"></div>
        <div class="h-12 bg-slate-200 rounded"></div>
        <div class="h-12 bg-slate-200 rounded"></div>
      </div>
    </ng-container>

    <!-- Formulario -->
    <ng-template #formTpl>
      <form [formGroup]="form" (ngSubmit)="save()" class="space-y-6">
        <!-- Fila 1: Teléfono + Email -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
          <!-- Teléfono -->
          <div class="flex flex-col w-full">
            <label
              for="telefono_contacto"
              class="mb-1 text-sm font-medium text-slate-700"
            >
              Teléfono de contacto
            </label>

            <div class="flex items-center w-full gap-2">
              <!-- Prefijo fijo -->
              <span
                class="px-3 py-2 bg-slate-100 text-slate-600 rounded-l-md border border-r-0 border-slate-300 text-sm"
              >
                +54 9
              </span>

              <!-- Input del usuario -->
              <p-inputMask
                mask="9999999999"
                formControlName="telefono_contacto"
                placeholder="999 999-9999"
                class="flex-1 w-full"
                styleClass="w-full rounded-r-md"
                inputStyleClass="w-full"
              ></p-inputMask>
            </div>

            <!--<p-inputNumber
              formControlName="telefono_contacto"
              inputId="telefono_contacto"
              pKeyFilter="int"
              class="block w-full"
              styleClass="w-full"
              [inputStyle]="{ width: '100%' }"
              inputStyleClass="w-full"
            ></p-inputNumber> -->
          </div>

          <!-- Email -->
          <div class="flex flex-col w-full">
            <label for="email" class="mb-1 text-sm font-medium text-slate-700">
              Email de contacto
            </label>
            <input
              pInputText
              formControlName="email_contacto"
              placeholder="Ej: miemail@gmail.com"
              type="email"
              class="w-full"
            />
          </div>
        </div>

        <!-- Redes sociales -->
        <div>
          <label class="block text-sm font-medium text-slate-700 mb-2">
            Redes sociales
          </label>

          <div formArrayName="redes_sociales" class="space-y-3">
            <div
              *ngFor="let ctrl of redesSociales.controls; let i = index"
              class="flex flex-col sm:flex-row gap-3 w-full"
            >
              <!-- Input -->
              <input
                pInputText
                [formControlName]="i"
                placeholder="https://instagram.com/mitienda"
                class="flex-1 w-full"
              />

              <!-- Botón -->
              <div class="flex justify-center sm:justify-start">
                <p-button
                  [disabled]="redesSociales.length <= 2"
                  size="small"
                  label="Quitar"
                  [text]="true"
                  [raised]="true"
                  severity="secondary"
                  (click)="removeRed(i)"
                  class="w-auto sm:w-auto"
                />
              </div>
            </div>
          </div>

          <p-button
            type="button"
            size="small"
            label="+ Agregar red"
            [text]="true"
            [raised]="true"
            severity="success"
            (click)="addRed()"
            class="mt-3 w-full sm:w-auto"
          />
        </div>

        <!-- Divider -->
        <div
          class="my-4 h-px bg-gradient-to-r from-transparent via-slate-200 to-transparent"
        ></div>

        <!-- Botones -->
        <div class="flex items-center justify-end gap-3">
          <p-button
            type="button"
            severity="secondary"
            label="Cancelar"
            [outlined]="true"
            [rounded]="true"
            size="small"
          />
          <p-button
            type="submit"
            [disabled]="form.invalid || form.pristine"
            label="Guardar cambios"
            [rounded]="true"
            severity="success"
            size="small"
          />
        </div>
      </form>
    </ng-template>
  </div>
</div>
