<!-- Toolbar -->
<div
  class="sticky top-0 z-50 h-16 px-4 bg-white border-b border-slate-200 shadow-sm flex items-center justify-between"
>
  <div class="flex items-center gap-3">
    <!-- Botón hamburguesa -->
    <p-button
      (onClick)="toggleSidebar()"
      icon="pi pi-bars"
      styleClass="p-button-text "
    ></p-button>

    <img class="w-10 h-10" src="assets/logo-app.png" alt="Pedi App" />
    <span class="hidden md:inline text-slate-700 font-semibold">Panel</span>
  </div>

  <!-- Acciones -->
  <div class="flex items-center gap-3">
    <button pButton icon="pi pi-bell" class="p-button-text"></button>
    <button pButton icon="pi pi-user" class="p-button-text"></button>
  </div>
</div>

<!-- Sidebar controlado desde AppComponent -->
<app-sidebar [(visible)]="sidebarVisible"></app-sidebar>

<!-- Contenido -->
<div>
  <router-outlet></router-outlet>
</div>
