<div class="flex flex-col">
    @if (label) {
          <label>{{ label }}</label>
    }   

  <textarea
    [rows]="rows"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [value]="value"
    (input)="handleInput($event)"
    (blur)="onTouched()"
    class="px-6 py-2.5 text-md rounded-lg border focus:outline focus:outline-2 focus:outline-offset-2 bg-[#ffffff] text-[#444444] focus:outline-[#aaaaaa] border-[#cccccc]"
  ></textarea>

  @if (errorMessage) {
    <mat-error>{{ errorMessage }}</mat-error>
  }
</div>