/* ✅ Forzar inputs y textareas al surface */
:host ::ng-deep .p-inputtext,
:host ::ng-deep .p-inputtextarea {
  background-color: var(--surface) !important;
  color: var(--text) !important;
  border: 1px solid rgba(255, 255, 255, 0.08) !important;
  border-radius: 0.5rem; /* opcional, igual que tailwind rounded-lg */
}

/* ✅ Forzar radios */
:host ::ng-deep .p-radiobutton .p-radiobutton-box {
  background-color: var(--surface) !important;
  border: 1px solid var(--text) !important;
}
:host ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

/* ✅ Botón "x" (p-button-danger) */
:host ::ng-deep .p-button.p-button-danger {
  background: transparent !important;
  color: var(--primary) !important;
}
