:host {
  --primary: #ff4081;
  --secondary: #00bfa5;

  // Checkbox PrimeNG reactivo
  ::ng-deep .p-checkbox .p-checkbox-box {
    border-color: var(--primary) !important;
  }

  ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
  }

  // Asegurar que inputs y textareas sigan el fondo dinámico
  ::ng-deep .p-inputtext,
  ::ng-deep .p-inputtextarea {
    background: var(--bg) !important;
    color: var(--text) !important;
    border: 1px solid var(--text) !important;
  }
}
