/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* 2️⃣ Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";
:host {
  display: block;
  width: 250px;       /* ancho del sidebar */
  height: 64px;       /* igual a la altura del toolbar */
}


//toolbar
::ng-deep mat-toolbar.custom-toolbar {
  background-color: #8CDE81 !important;
}


:root {
  --primary: #ff4081;   /* defaults */
  --secondary: #00bfa5;
}

.btn-primary {
  background-color: var(--primary);
  color: white;
}

.btn-secondary {
  background-color: var(--secondary);
  color: white;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
